<div style="display: flex; justify-content: center; gap:20px">
    <button (click)="routetoAdd()">Add Task</button>
    <button (click)="auth.toggleSetting()">Setting - {{auth.settingsEnabled?"On":"Off"}}</button>
    <button (click)="gotoSetting()">Go to Setting</button>

</div>


<ul>
    @for (task of tasks; track task.id) {
    <li>
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <button (click)="edittask(task.id)">Edit</button>
        <button (click)="removeTask(task.id)">Remove</button>
    </li>
    }
    @empty {
    <h2>No task Availabel</h2>
    }
</ul>